@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import '../../variables.scss';

body, html {
  font-family: 'Roboto', sans-serif;
  background: $secondary-gray-color;
  font-size: 1em;
}

.main {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .main { width: 100%; }
}
