@import "../../variables.scss";

.summary {
  background-color: $base-white;
  padding: 20px 30px 30px;
  box-shadow: $box-shadow;
  box-sizing: border-box;

  .summary__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: $font-size-level-3;
      font-weight: $font-weight-semibold;
      padding: 0;
      margin: 0;
      line-height: 24px;

      .title__icon {
        vertical-align: text-top;
        margin-right: 13px;
      }
    }
  }

  .summary__content {
    .details {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        margin: 10px 0;
        color: $base-gray-color;
        font-weight: $font-weight-regular;

        strong {
          color: $base-black;
          font-weight: $font-weight-regular;
          margin-left: 10px;
        }

        .details__title {
          color: $base-black;
          margin: 0;
          padding: 10px 0 8px;
        }

        .education-levels {
          display: flex;
          flex-wrap: wrap;

          span {
            padding: 5px 10px;
            background-color: $secondary-gray-color;
            margin: 3px 7px 3px 0;
            color: $base-black;
            font-weight: $font-weight-regular;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
