@import '../../../variables.scss';

/* --------- Button --------- */

button {
  position: relative;
  border: 1px solid $primary-gray-color;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: $font-size-level-1;
  box-sizing: border-box;
  color: $base-white;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    background-color: $primary-blue-color;
  }

  &.success {
    background-color: $primary-green-color;
  }

  &.light {
    background-color: $base-white;
    color: $base-black;
  }

  &:disabled {
    background-color: $primary-gray-color;

    &:hover {
      opacity: 1;
      cursor: default;
    }
  }
}
