@import "../../variables.scss";

.form-wrapper {
  background-color: $base-white;
  padding: 30px;
  box-shadow: $box-shadow;
  box-sizing: border-box;

  .title {
    font-size: $font-size-level-3;
    padding: 0;
    margin: 0;
    line-height: 24px;

    .title__number {
      display: inline-block;
      vertical-align: top;
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 0.7em;
      background-color: $primary-purple-color;
      text-align: center;
      border-radius: 50%;
      color: $base-white;
      margin: 0 10px 0 0;
    }
  }

  .description {
    color: $base-gray-color;
    padding: 0 0 0 2em;
    font-size: 1.1em;
  }

  label {
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
  }

  .number-input {
    width: 80px;
    display: block;
  }

  .education-level {
    margin: 35px 0 25px;
  }

  .form-group {
    display: flex;
    align-items: top;

    .input-wrapper {
      display: flex;
      margin-right: 15px;

      label {
        margin: 20px 15px 0 0;
        display: block;
      }
    }
  }

  .button-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;

    .btn {
      margin: 0 0 0 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .form-wrapper {
    padding: 30px 18px;

    .form-group {
      justify-content: space-between;
    }
  }
}
