@import '../../../variables.scss';

/* --------- Validation error message --------- */

.validation-message {
  img { margin-right: 8px; }

  span {
    color: $error-red-color;
    font-size: $font-size-level-1;
    font-weight: $font-weight-regular;
  }
}

.invalid-field,
input.invalid-field {
  border: 1px solid $error-red-border-color;
}
