@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import '../../styles/variables.scss';

body, html {
  font-family: 'Roboto', sans-serif;
  background: $secondary-gray-color;
  font-size: 1em;
  height: 100%;
}

.main {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 0 0 0;
  height: 100%;
  box-sizing: border-box;
}
