/* --------- Colors --------- */

$primary-green-color: #25ae95;
$secondary-green-color: #9edd21;

$base-white: #ffffff;
$base-black: #000000;

$base-gray-color: #888888;
$primary-gray-color: #b9b9b9;
$secondary-gray-color: #f1f1f1;

$primary-blue-color: #17a2b8;
$primary-purple-color: #b763e8;

$error-red-color: rgb(99, 52, 52);
$error-red-border-color: #ca0000;

/* --------- Shadow --------- */

$box-shadow: 2px 2px 5px #ccc;

/* --------- Font --------- */

$font-size-level-1: 1em;
$font-size-level-2: 1.2em;
$font-size-level-3: 1.4em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
