@import '../../../variables.scss';

/* --------- Input --------- */

input[type="text"] {
  border: 1px solid $primary-gray-color;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
  margin: 10px 0;
  font-weight: normal;
  outline: none;
}
